@tailwind base;
@tailwind components;
@tailwind utilities;

body,html {

  @apply h-screen;
  @apply w-screen;
  @apply min-h-screen;
}

:root {
  --primary: transparent;
  --secondary:#030712 ;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
  
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}